<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>編輯文章</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="~{/forum/layout/navbarForum}"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-5">編輯文章</h1>
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/texts/update}" th:object="${texts}" method="post">
                            <input type="hidden" th:field="*{textsId}" />
                            <input type="hidden" th:field="*{doneTime}" />
                            <div class="form-group">
                                <label for="title">標題</label>
                                <input type="text" class="form-control" th:field="*{title}" required>
                            </div>
                            <div class="form-group">
                                <label for="textsContent">內容</label>
                                <textarea class="form-control" id="textsContent" th:field="*{textsContent}" rows="10" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">儲存</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
