<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="keywords" content="ecommerce, pet, shop">
	<meta name="description" content="Free eCommerce Pet Shop HTML Website Template">
	<title>文章首頁</title>

	<!-- External CSS -->
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css" />
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/vendor.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
		rel="stylesheet">
	<style type="text/css">
		.text-area {
			overflow: hidden;

			text-overflow: ellipsis;
			overflow: hidden;
			height: 150px;
		}

		.container {
			margin-bottom: 20px;
			/* 下邊距調整為 20px，根據需要調整數值 */
			padding: 0;
			/* 減少內邊距 */
			max-width: 100%;
			/* 或者設定固定的寬度 */
		}

		.box {
			width: 300px;
			padding: 10px;
			border: blue 2px solid;
		}
	</style>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{/layout/nav}"></div>


	<div class="container">
		<div th:replace="~{forum/layout/navbar}"></div>
		<figure>
			<section id="Wishlist" class="py-5 my-5">
				<div class="row entry-container">
					<div th:each="texts : ${page.content}" class="col-md-4 my-4 ">
						<div class="position-relative rounded-3 m-2 px-3 pt-1 bg-light">
							<img style="width: 100%;" th:src="@{/photos/showPhotos2(textsId=${texts.textsId})}"
								alt="cloth" class="img-fluid  justify-content: space-between;">
							<h3 class="secondary-font text-primary" th:text="${texts.title}"></h3>

							<span th:utext="${texts.textsContent}" class="blog-read text-area"></span>

						</div>
						<div>
							<a th:href="@{/texts/page(textsId=${texts.textsId})}" class="blog-read ">閱讀更多...</a>
						</div>
					</div>

				</div>
			</section>
		</figure>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<!-- Pagination -->
	<div class="container con">
		<ul class="pagination" th:if="${page.totalPages != 0}">
			<!-- 上一頁 -->
			<th:block th:switch="${page.number != 0}">
				<li th:case="${true}" class="page-item"><a class="page-link"
						th:href="@{/texts/page(p=${page.number})}">上一頁</a></li>
				<li th:case="${false}" class="page-item disabled"><span class="page-link">上一頁</span></li>
			</th:block>

			<!-- 頁碼 -->
			<th:block th:each="pageNumber : ${#numbers.sequence(1,page.totalPages)}">
				<li th:class="${page.number + 1 == pageNumber} ? 'page-item active' : 'page-item'">
					<a class="page-link pageBtn" th:data-pageid="${pageNumber}" href="#" th:text="${pageNumber}"></a>
				</li>
			</th:block>

			<!-- 下一頁 -->
			<th:block th:switch="${page.number + 1 == page.totalPages}">
				<li th:case="${false}" class="page-item"><a class="page-link"
						th:href="@{/texts/page(p=${page.number + 2})}">下一頁</a></li>
				<li th:case="${true}" class="page-item disabled"><span class="page-link">下一頁</span></li>
			</th:block>
		</ul>

		<div th:text="'總共有 ' + ${page.totalElements} + ' 筆'"></div>
	</div>

	<br>
	<!-- Footer -->
	<div class="footer">
		<div th:replace="~{layout/footer}"></div>
	</div>

	<!-- JavaScript -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

	<script>
		$(function () {
			var len = 50;
			$(".con").each(function (i) {
				if ($(this).text().length > len) {
					$(this).attr("title", $(this).text());
					var text = $(this).text().substring(0, len - 1) + "...";
					$(this).text(text);
				}
			});
		});
		document.addEventListener("DOMContentLoaded", function () {
			let pageBtns = document.getElementsByClassName('pageBtn');

			for (let i = 0; i < pageBtns.length; i++) {
				pageBtns[i].addEventListener('click', function (e) {
					let pageId = this.getAttribute("data-pageid");
					loadThatPage(pageId);
				});
			}
		});

		function loadThatPage(pageId) {
			console.log('有按到' + pageId);

			/*  axios.get('http://localhost:8081/competnion/texts/api/page', {
					params: {
						p: pageId
					}
				})
				.then(res => {
					htmlMaker(res.data);
				})
				.catch(err =>{
					console.log(err);
				});*/
		}

		function htmlMaker(data) {
			let msg_data = '<tbody>';
			data.content.forEach(el => {
				msg_data += '<tr>';
				msg_data += '<td>' + el.text + '</td>';
				msg_data += '<td>' + el.added + '</td>';
				msg_data += '</tr>';
			});
			msg_data += '</tbody>';

			let totalPages = data.totalPages;

			for (let i = 1; i <= totalPages; i++) {
				msg_data += '<button class="pageBtn" data-pageid="' + i + '">' + i + '</button>';
			}

			let myTable = document.getElementById("list_table_json"); // Get the table

			myTable.getElementsByTagName("tbody")[0].innerHTML = msg_data;

			let pageBtns = document.getElementsByClassName('pageBtn');

			for (let i = 0; i < pageBtns.length; i++) {
				pageBtns[i].addEventListener('click', function (e) {
					let pageId = this.getAttribute("data-pageid");
					loadThatPage(pageId);
				});
			}
		}


	</script>
</body>

</html>