<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <title>文章詳情</title>
</head>

<body>
  <div th:replace="~{/forum/layout/navbar}"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <p th:text="${texts.forumId}">討論區編號</p>
        <p th:text="${texts.memId}">會員編號</p>
        <h1 th:text="${texts.title}">文章標題</h1>
        <p th:text="${texts.textsContent}">文章內容</p>
        <p th:text="${#dates.format(texts.doneTime, 'yyyy-MM-dd HH:mm:ss')}">完成時間</p>
        <p th:text="${#dates.format(texts.updatedTime, 'yyyy-MM-dd HH:mm:ss')}">更新時間</p>

        <div class="edit-btn" style="display:flex">
          <a th:href="@{/texts/edit(id=${texts.textsId})}" class="btn btn-outline-success btn-sm">編輯</a>
          <form method="post" th:action="@{/texts/delete}">
            <input name="id" th:value="${texts.textsId}" type="hidden" />
            <input name="_method" value="DELETE" type="hidden" />
            <input type="submit" value="刪除" onclick="return confirm('確定刪除嗎?')" class="btn btn-outline-danger btn-sm">
          </form>
        </div>
        <br>
        <a href="/texts" class="btn btn-outline-primary">返回首頁</a>
      </div>
    </div>
  </div>
</body>

</html>