<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>PlayCentric-後台管理-公告</title>
</head>

<body class="h-screen flex flex-col w-screen">
    <!-- 頂部導航欄 -->
    <div class="" th:replace="~{/layout/nav}"></div>

    <div class="flex flex-1">
        <!-- 側邊欄 -->
        <div th:replace="~{/layout/aside}"></div>

        <!-- 主要內容區域 -->
        <main class="w-full h-auto">
            <div class="w-full h-auto flex flex-col justify-center px-8">
                <input class="mb-4 p-2 border border-gray-300 rounded-md" type="text" id="search" placeholder="搜尋...">
                <div class="mb-2">
                    <a class="mybtn mybtn-sky" th:href="@{/game/getSetDiscount}">新增優惠活動</a>
                </div>
                <div class="w-full" id="table">
                    <table class="w-full border-collapse shadow">
                        <thead>
                            <tr>
                                <th class="text-center w-2/12 border">遊戲名稱</th>
                                <th class="text-center w-1/12 border">價格</th>
                                <th class="text-center w-3/12 border">發布時間</th>
                                <th class="text-center w-1/12 border">開發者</th>
                                <th class="text-center w-1/12 border">發行商</th>
                                <th class="text-center w-1/12 border">評價</th>
                                <th class="text-center w-3/12 border">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="game:${allGame}">
                                <tr>
                                    <td class="border p-3 gameName mylink">
                                        <a href="#" th:text="${game.gameName}" class="text-center"></a>
                                    </td>
                                    <td th:text="${game.price}" class="text-center border p-3 price"></td>
                                    <td th:text="${#dates.format(game.releaseAt,'yyyy-MM-dd HH:mm:ss')}"
                                        class="text-center border p-3 releaseAt"></td>
                                    <td th:text="${game.developer}" class="text-center border p-3 developer"></td>
                                    <td th:text="${game.publisher}" class="text-center border p-3 publisher"></td>
                                    <td th:if="${game.totalReviews != 0}"
                                        th:text="${game.totalScore / game.totalReviews}"
                                        class="text-center border p-3 score"></td>
                                    <td th:if="${game.totalReviews == 0}" class="text-center border p-3 score">0</td>
                                    <td class="text-center border p-3">
                                        <a th:href="@{/game/getUpdateGame(gameId=${game.gameId})}"
                                            class="mybtn mybtn-sky rounded-md me-2 block lg:inline">修改</a>
                                        <a th:if="${!game.isShow}" th:href="@{/game/isShow(gameId=${game.gameId})}"
                                            class="mybtn mybtn-green rounded-md me-2 block lg:inline">上架</a>
                                        <a th:if="${game.isShow}" th:href="@{/game/isShow(gameId=${game.gameId})}"
                                            class="mybtn mybtn-danger rounded-md me-2 block lg:inline">下架</a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <a th:href="@{/game/getInsertGame}" class="text-4xl text-black plus-btn mybtn">+</a>

    <script>
        let allData = document.querySelectorAll('tbody tr');
        const search = document.querySelector('#search');

        allData.forEach(elm => {
            elm.addEventListener('mouseenter', () => {
                elm.classList.add('bg-gray-300');
            })
            elm.addEventListener('mouseleave', () => {
                elm.classList.remove('bg-gray-300');
            })
        });

        search.addEventListener('keyup', () => {
            allData.forEach(data => {
                if (!data.innerText.includes(search.value)) {
                    data.classList.add('hidden');
                }
                else {
                    data.classList.remove('hidden');
                }
            });
        })
    </script>

</body>

</html>