<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <style>
        .h600px {
            height: 600px;
        }
    </style>
    <title th:text="${session.loginMember} ? 'PlayCentric-' + ${session.loginMember.nickname} + 遊戲購買紀錄">遊戲購買紀錄</title>
</head>

<body>
    <div th:replace="~{member/memInfoAside}"></div>
    <div class="h600px overflow-scroll noscrollbar">
        <div th:if="${games} ? ${games.size() == 0}" class="flex flex-wrap justify-center items-center mt-2">
            <span>目前尚未有購買紀錄！歡迎選購～</span>
            <span class="mybtn mybtn-green go">前往商店</span>
        </div>
        <table th:if="${games} ? ${games.size() > 0}" class="h-auto w-full text-center text-xl border rounded-xl">
            <thead>
                <tr>
                    <th class="border h-auto">遊戲名稱</th>
                    <th class="border h-auto">價格</th>
                    <th class="border h-auto">購買時間</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game:${games}">
                    <td th:text="${game.gameName}" class="border h-auto"></td>
                    <td th:text="${game.discountedPrice}" class="border h-auto"></td>
                    <td th:text="${#temporals.format(game.buyAt,'yyyy年MM月dd日 HH:mm')}" class="border h-auto"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/game/to-store.js}"></script>
</body>

</html>