<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="" th:replace="~{/layout/nav}"></div>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/utils/doAlertJs.css}">
    <style>
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translate3d(500px, -100px, 0);
            }

            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        .fade-in-up {
            animation: fadeInUp 0.3s ease-in-out;
        }
    </style>
    <title>PlayCentric-遊戲商店</title>
</head>

<body class="h-screen">
    <div class="spin hidden">
        <div class="flex justify-center items-center h-4/5 w-full fixed ">
            <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 shadow-md border-lime-500"></div>
        </div>
    </div>
    <div class="px-0 py-2 lg:px-15 text-end w-full fixed">
        <!-- 購物車按鈕 -->
        <a th:if="${session.loginMember}" th:href="@{/gamecart/get}" class="mybtn mybtn-green mx-5 showcarts">購物車</a>
    </div>
    <div class="flex flex-col h-auto container mx-auto">
        <!-- 篩選欄 -->
        <div class="flex justify-center h-auto my-2">

            <div class="w-full lg:w-1/2 h-auto border-2 flex flex-col rounded-md justify-center items-center">
                <!-- 以價格篩選 -->
                <div class="flex flex-col items-center justify-center p-2 w-full">
                    <span>依名稱搜尋</span>
                    <input type="text" id="gameName" placeholder="請輸入名稱" class="text-input w-1/3 text-black">
                    <span class="block text-lg">依價格篩選</span>
                    <label for="minPrice">最低價格： </label>
                    <input type="number" placeholder="最低價格" name="minPrice" id="minPrice"
                        class="text-input w-1/3 text-black" maxlength="5">
                    <label for="maxPrice">最高價格： </label>
                    <input type="number" name="maxPrice" id="maxPrice" class="text-input w-1/3 text-black"
                        placeholder="最高價格" maxlength="5">
                </div>
                <!-- 以分類篩選 -->
                <span class="block text-lg">依分類篩選</span>
                <!-- 取所有分類 -->
                <div class="p-2 flex flex-wrap">
                    <th:block th:each="type:${allType}">
                        <div class="text-sm mybtn-tag">
                            <span th:text="${type.gameTypeName}"></span>
                            <input class="hidden" type="checkbox" name="typeId" th:value="${type.gameTypeId}">
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <main class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 h-full container mt-2">
            <input id="pages" type="hidden" th:value="${games.totalPages}">
            <th:block th:each="game:${games.content}">

                <div
                    class="fade-in h-auto shadow-md border-2 rounded-lg flex flex-col p-2 bg-white border-sky-300 shadow-sky-500">
                    <div class="py-2 h-64 flex justify-center rounded-md">
                        <a th:if="${!game.imageLibs.empty}" th:href="@{/game/showGame(gameId=${game.gameId})}">
                            <img class="w-auto h-full rounded-md"
                                th:src="@{/imagesLib/image{id}(id=${game.ImageLibs[0].imageId})}" alt="">
                        </a>
                        <a class="h-full w-full" th:if="${game.imageLibs.empty}"
                            th:href="@{/game/showGame(gameId=${game.gameId})}">
                            <img class="w-full h-full rounded-md" src="" alt="">
                        </a>
                    </div>
                    <div class="h-1/3 flex text-black flex-col items-center p-2">
                        <div class="flex justify-center">
                            <a th:href="@{/game/showGame(gameId=${game.gameId})}">
                                <span class="text-xl p-2 rounded-md select-none" th:text="${game.gameName}"></span>
                            </a>
                        </div>
                        <div class="flex justify-center my-2 space-x-1">
                            <!-- 顯示優惠 -->
                            <span th:if="${game.rate}" class="price-tag font-semibold"
                                th:text="'-' + ${100 -  game.rate} + '%'"></span>
                            <!-- 沒優惠顯示的價格 -->
                            <span th:if="${game.rate == null}" class="price-tag text-black font-semibold"
                                th:text=" 'NT$' + ${game.price}"></span>
                            <!-- 有優惠顯示的價格 -->
                            <span th:if="${game.rate}" class="price-tag font-semibold"
                                th:text=" 'NT$' + ${game.discountedPrice}"></span>
                        </div>
                        <div class="flex justify-center">
                            <a th:if="${session.loginMember == null}" th:href="@{/member/login}"
                                class="mybtn mybtn-green">加入購物車</a>
                            <span th:if="${session.loginMember} ? ${#lists.contains(cartIds,game.gameId)}" href="#"
                                class="mybtn-disabled">已加入購物車</span>
                            <span th:if="${session.loginMember} ? ${!#lists.contains(cartIds,game.gameId)}"
                                class="mybtn mybtn-green cart">加入購物車</span>
                            <div class="hidden memId" th:text="${session.loginMember} ? ${session.loginMember.memId}">
                            </div>
                            <div class="hidden gameId" th:text="${game.gameId}"></div>
                        </div>
                    </div>
                </div>
            </th:block>

        </main>

        <div class="mt-5"></div>

    </div>

    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/utils/doAlertJs.js}"></script>
    <script th:src="@{/js/game/cart.js}"></script>
    <script th:src="@{/js/game/game-store.js}"></script>
</body>

</html>