<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>PlayCentric-後台管理-新增公告</title>
</head>

<body>
    <div th:replace="~{/layout/backen_nav}"></div>

    <div class="flex justify-center">
        <div class="flex justify-center my-5 border-2 p-20 rounded-md">
            <form th:action="@{/game/setDiscount}" method="post">
                <div class="space-y-4">

                    <div class="flex flex-col">
                        <label for="gameDiscountName" class="text-lg me-2">優惠名稱：</label>
                        <input required type="text" name="gameDiscountName" id="gameDiscountName" class="text-input"
                            placeholder="請輸入名稱">
                    </div>

                    <div class="flex flex-col">
                        <label for="startAt" class="text-lg me-2">開始時間：</label>
                        <input required type="datetime-local" id="startAt" name="startAt" class="text-input">
                    </div>

                    <div class="flex flex-col">
                        <label for="endAt" class="text-lg me-2">結束時間：</label>
                        <input required type="datetime-local" id="endAt" name="endAt" class="text-input">
                    </div>

                    <div id="msg" class="text-red-700">

                    </div>


                    <div class="flex items-center justify-center">
                        <button class="ms-8 mybtn mybtn-sky rounded-md" type="submit">新增</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>

        document.querySelector('form').addEventListener('submit', e => {
            const now = new Date();
            const startAt = new Date(document.querySelector('#startAt').value);
            const endAt = new Date(document.querySelector('#endAt').value);
            const msg = document.querySelector('#msg');
            if (startAt < now) {
                msg.innerHTML = '開始日期設定錯誤';
                e.preventDefault();
            }
            else if (endAt < startAt) {
                msg.innerHTML = '結束日期不得在開始日期之前';
                e.preventDefault();
            }
        })

    </script>

</body>

</html>