<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="UTF-8">
	<title>活動管理</title>
		<!-- 導航欄模板 -->
	<div th:replace="~{layout/backen_nav}"></div>
		<!-- 引入 Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="h-screen flex flex-col w-screen">

	<div class="flex flex-1">
<!-- 側邊欄模板 -->
		<div th:replace="~{/layout/aside}"></div>
		<div class="w-full flex justify-center">
			<div>
				<h1>活動管理</h1>
				<div class="row mb-3">
					<!-- 新增活動按鈕 -->
					<div class="col">
						<button class="btn btn-primary mr-2" onclick="openCreateEventForm()">新增活動</button>
					</div>
                    <!-- 搜尋活動表單 -->
                    <div class="col d-flex justify-content-end mb-3">
                        <form class="form-inline" onsubmit="searchEvents(); return false;">
                            <input class="form-control me-2" type="search" placeholder="輸入活動名稱" aria-label="Search" id="searchEventInput" oninput="searchEvents()">
                            <button class="btn btn-outline-success" type="button" onclick="searchEvents()">查詢</button>
                        </form>
                    </div>
                </div>
				<!-- 活動列表表格 -->
				<table class="table">
					<thead>
						<tr>
							<th>活動名稱</th>
							<th>活動描述</th>
							<th>開始時間</th>
							<th>結束時間</th>
							<th>報名截止時間</th>
							<th>狀態</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="eventList">
						<th:block th:each="event : ${allEvents}">
							<tr>
								<td>[[${event.eventName}]]</td>
								<td>[[${event.eventDescription}]]</td>
								<td><span
										th:text="${event} ?  ${#dates.format(event.eventStartTime, 'yyyy年MM月dd日')}"></span>
								</td>
								<td><span
										th:text="${event} ?  ${#dates.format(event.eventEndTime, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
								</td>
								<td><span
										th:text="${event} ?  ${#dates.format(event.eventSignupDeadLine, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
								</td>
								<td><span
										th:text="${event.eventStatus == 0 ? '未開始' : (event.eventStatus == 1 ? '進行中' : '已結束')}"></span>
								</td>
								<td class="d-flex">
									<button class="btn btn-info btn-sm edit-btn me-2"
										th:eventId="${event.eventId}">編輯</button>
									<form method="post" th:action="@{/events/delete}">
										<input name="eventId" th:value="${event.eventId}" type="hidden" />
										<input type="submit" value="刪除" onclick="return confirm('確定刪除嗎?')"
											class="btn btn-outline-danger btn-sm">
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>



			<!-- 互動視窗（用於創建、編輯和查詢活動） -->
			<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="eventModalLabel">活動詳情</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<!-- 表單用於創建、編輯和查詢活動 -->
						<form id="eventForm" method="post" th:action="@{/events/addPost}">
							<div class="modal-body">

								<div class="form-group">
									<label for="eventName">活動名稱</label> <input type="text" class="form-control"
										id="eventName" name="eventName" required>
								</div>

								<div class="form-group">
									<label for="eventDescription">活動描述</label>
									<textarea class="form-control" id="eventDescription" name="eventDescription"
										rows="3"></textarea>
								</div>

								<div class="form-group">
									<label for="eventStartTime">開始時間</label> <input type="datetime-local"
										class="form-control datetime" id="eventStartTime" name="eventStartTime"
										required>
								</div>

								<div class="form-group">
									<label for="eventEndTime">結束時間</label> <input type="datetime-local"
										class="form-control datetime" id="eventEndTime" name="eventEndTime" required>
								</div>

								<div class="form-group">
									<label for="eventSignupDeadLine">報名截止時間</label> <input type="datetime-local"
										class="form-control datetime" id="eventSignupDeadLine"
										name="eventSignupDeadLine" required>
								</div>

								<div class="form-group">
									<label for="eventStatus">活動狀態</label>
									<select class="form-control" id="eventStatus" name="eventStatus" required>
										<option value="0">未開始</option>
										<option value="1" selected>進行中</option>
										<option value="2">已結束</option>
									</select>
								</div>

								<input type="hidden" id="eventId" name="eventId">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
								<button type="submit" class="btn btn-primary" id="saveEventBtn">保存</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>

		<!-- jQuery 和 Bootstrap JavaScript -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script th:src="@{/js/axios.min.js}"></script>

		<div id="errMsg" th:if="${errMsg}">[[${errMsg}]]</div>
	</div>

	<script>
		// 後端 API URL
		const findEventUrl = "http://localhost:8080/PlayCentric/events/get/";
		const createEventUrl = "http://localhost:8080/PlayCentric/events/createPost";
		const updateEventUrl = "http://localhost:8080/PlayCentric/events/updatePost";

		// 顯示錯誤訊息
		if ($('#errMsg').length > 0) {
			$('#errMsg').hide();
			alert($('#errMsg').text())
		}
		
		// 編輯按鈕點擊事件處理
		$('#eventList').on('click', '.edit-btn', function () {
			showEventInfo($(this).attr('eventId'))
		})
		
		// 顯示活動詳情
		function showEventInfo(eventId) {
			axios({
				method: 'get',
				url: findEventUrl + eventId
			})
				.then(res => {
					console.log(res);
					showUpdateModal(res.data);
				})
				.catch(err => console.log(err))
		}
		
		// 顯示編輯活動的互動視窗
		function showUpdateModal(data) {
			$('#eventForm').attr('action', updateEventUrl);
			$('#eventModal .modal-title').text('編輯活動資訊');
			$('#eventModal #eventId').val(data.eventId);
			$('#eventModal #eventName').val(data.eventName ? data.eventName : '');
			$('#eventModal #eventDescription').val(data.eventDescription ? data.eventDescription : '');
			$('#eventModal #eventStartTime').val(data.eventStartTime ? data.eventStartTime : '');
			$('#eventModal #eventEndTime').val(data.eventEndTime ? data.eventEndTime : '');
			// 設置活動狀態
			$('#eventModal #eventSignupDeadLine').val(data.eventSignupDeadLine ? data.eventSignupDeadLine : '');

			$('#eventModal #eventStatus').val(data.eventStatus ? data.eventStatus : '0'); // 預設為未開始

			$('#eventModal').modal('show');
		}


		$('#eventForm').submit(function (event) {
			event.preventDefault(); // 防止默認提交行為

			const startTime = new Date($('#eventStartTime').val());
			const endTime = new Date($('#eventEndTime').val());
			const signupDeadline = new Date($('#eventSignupDeadLine').val());

			// 驗證邏輯
			if (endTime <= startTime) {
				alert("結束時間必須在開始時間之後");
				return false;
			}

			if (signupDeadline >= endTime) {
				alert("報名截止時間必須在結束時間之前");
				return false;
			}

			// 格式化日期並提交表單
			$('#eventForm .datetime').attr('type', 'datetime');
			$('#eventForm .datetime').each(function (indx, ele) {
				$(this).val($(this).val().replace('T', ' '));
			});

			this.submit(); // 提交表單
		});


		// 刪除按鈕
		$('#eventList').on('click', '.delete-btn', function () {
		})

		let openCreateEventForm = function () {
			$('#eventForm').attr('action', createEventUrl);
			$('#eventForm .datetime').attr('type', 'datetime-local');
			$('#eventModal').modal('show');
			$('#eventForm').trigger('reset');
			$('#eventId').val('');
			$('#deleteEventBtn').hide();  // 隱藏刪除按鈕
		};

        // 搜尋活動
        function searchEvents() {
            let searchQuery = document.getElementById("searchEventInput").value.toLowerCase();
            let rows = document.getElementById("eventList").getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName("td");
                let eventName = cells[0].textContent.toLowerCase();
                if (eventName.includes(searchQuery)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

		// Enter就可以搜尋
		function handleEnter(event) {
			if (event.key === 'Enter') {
				event.preventDefault();
				searchEvents();
			}
		}


		// 關閉互動視窗
		$(document).ready(function () {
			$('.btn-secondary').on('click', function () {
				console.log('關閉按鈕被點擊');
				$('#eventModal').modal('hide');
			});
		});
	</script>
</body>

</html>

<!DOCTYPE html>
<html lang="zh-TW">

