<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlayCentric找個玩伴</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="keywords" content="ecommerce, pet, shop">
	<meta name="description" content="Free eCommerce Pet Shop HTML Website Template">

	<link th:replace="~{layout/nav}" />
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css" />
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/playfellow/playFellow.css}">

	<style>
		.swiper-container {
		       width: 100%;
		       padding: 20px 50px;
		       overflow: hidden; /* Hide overflow content */
		   }

		   .swiper-slide {
		       display: flex;
		       justify-content: center;
		       max-width: 100%; /* Ensure slides do not exceed container width */
		   }

		   #playFellowCard {
		       width: 100%;
		       max-width: 800px;
		       height: 250px;
		       background-color: #595570;
		       margin-bottom: 0;
		       color: white;
		   }

		   #playFellowCard .card-body {
		       padding: 10px;
		   }

		   #playFellowCard .row.g-0 {
		       margin-right: 0;
		       margin-left: 0;
		   }

		   #playFellowCard .img-fluid {
		       height: 100%;
		   }
	</style>
</head>

<body>

	<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart"
		aria-labelledby="My Cart">
		<div class="offcanvas-header justify-content-center">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
	</div>

	<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch"
		aria-labelledby="Search">
		<div class="offcanvas-header justify-content-center">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
	</div>

	<section id="banner" style="box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.1); background-color: #ffffff;">
		<div class="container">
			<div class="swiper main-swiper">
				<div class="swiper-wrapper">

					<div class="swiper-slide py-5">
						<div class="row banner-content align-items-center">
							<div class="img-wrapper col-md-5">
								<img src="images/playFellow/summer.png" class="img-fluid">
							</div>
							<div class="content-wrapper col-md-7 p-5 mb-5">
								<div class="secondary-font text-primary text-uppercase mb-4">遊戲有你有我</div>
								<h2 class="banner-title display-1 fw-normal">
									PlayCentric<span class="text-primary"> 找玩伴</span>
								</h2>
							</div>
						</div>
					</div>
					<div class="swiper-slide py-5">
						<div class="row banner-content align-items-center">
							<div class="img-wrapper col-md-5">
								<a id="addPfMember" th:if="${session.loginMember != null}"
									th:href="@{/playFellow/memId/{memId}(memId=${session.loginMember.memId})}">
									<img src="images/playFellow/pftop2.png" class="img-fluid">
								</a> <a id="loginAlert" th:if="${session.loginMember == null}"
									href="javascript:void(0);" onclick="alertAndRedirect();"><img
										src="images/playFellow/pftop2.png" class="img-fluid"> </a>
							</div>
							<div class="content-wrapper col-md-7 p-5 mb-5">
								<div class="secondary-font text-primary text-uppercase mb-4">PlayCentric</div>
								<h2 class="banner-title display-1 fw-normal">
									徵求強力伴遊 <span class="text-primary">快來加入</span>
								</h2>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>

	
	
	<!-- 	創建時間lastest 5 top -->
	<section class="container mt-3" style="background-color: #FFFFFF;">
	    <h4 class="fw-normal">伴遊新星🌟</h4>
	    <div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" th:each="members : ${TopFiveReviewSuccessMembers}">
	                <div class="card mb-3" id="playFellowCard" data-bs-toggle="modal" data-bs-target="#memberModal"
	                     th:data-bs-memberId="${members.pfGames[0].pfGameId}">
	                    <div class="row g-0 h-100">
	                        <div th:if="${members.imageLibAssociations.size() > 0}" class="col-md-4 h-100">
	                            <img class="img-fluid rounded-start h-100 playFellowImg-size"
	                                 th:src="'data:image/jpeg;base64,' + ${members.imageLibAssociations[0].imageLib.base64Image}"
	                                 style="object-fit: cover;" />
	                        </div>
	                        <div class="col-md-8 h-100">
	                            <div class="card-body h-100">
	                                <span class="row">
	                                    <h5 class="card-title" th:text="${members.pfnickname}"></h5>
	                                    <span class="card-title pt-2 m-0">
	                                        <span th:if="${members.member.gender == 1}" style="color: blue;">♂️</span>
	                                        <span th:if="${members.member.gender == 2}" style="color: pink;">♀️</span>
	                                    </span>
	                                </span>
	                                <p class="card-text" th:text="${members.pfdescription}"></p>
	                                <p class="card-text">
	                                    <small class="text-body-secondary" th:text="${members.pfcreatedTime}"></small>
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	
	
	
	<!-- Modal -->
	<div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="memberModalLabel">伴遊詳細資料</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                <!-- Modal content will be loaded here via JavaScript -->
	                <div id="modal-content-container"></div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
	            </div>
	        </div>
	    </div>
	</div>



	
	
	

	<section id="clothing" class="overflow-hidden" style="margin-top: 50px;">
		<div class="container pb-1">
			<div class="row">
				<!-- 側邊欄圖標 -->
				<div class="col-1">
					<button class="btn btn-gray" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
							class="bi bi-list" viewBox="0 0 20 20">
							<path fill-rule="evenodd"
								d="M2.5 12.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5.5 0 0 1-.5-.5zm0-5a.5.5.5 0 0 1 .5-.5h10a.5.5.5 0 0 1 0 1h-10a.5.5.5 0 0 1-.5-.5z" />
						</svg>
					</button>
				</div>

				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar"
					aria-labelledby="offcanvasSidebarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasSidebarLabel">更多遊戲伴遊</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="list-group">
							<ul>
								<li><a th:href="@{/playFellow}">回伴遊首頁</a></li>
							</ul>
							<ul>
								<li>遊戲類別</li>

								<li th:each="games : ${findGameIdAndName}" class="list-group-item">
									<form th:action="@{/playFellow/{gameId}(gameId=${games.gameId})}" method="post">
										<button type="submit" class="btn btn-link" th:text="${games.gameName}"></button>
									</form>
								</li>
							</ul>
					</div>
				</div>

				<!-- 主內容區 -->
				<div class="col">
					<!-- Counter-Strike 2 Section -->
					<div class="section-header d-md-flex justify-content-between align-items-center mb-3">
						<h3 class="fw-normal">Counter-Strike 2</h3>
					</div>
					<!-- 放置CS2 -->
					<div class="products-carousel swiper">
						<div class="isotope-container row">
							<div th:each="pfgame : ${PfGame}" class="item col-md-3 col-lg-2 my-4">
								<div class="card position-relative" style="background-color: #FFFFFF;">
									<!-- Carousel -->
									<div id="carousel-[[${pfgame.pfGameId}]]" class="carousel slide"
										data-bs-ride="carousel">
										<div class="carousel-inner">
											<div th:each="association, stat : ${pfgame.playFellowMember.imageLibAssociations}"
												th:classappend="${stat.index == 0} ? ' active' : ''"
												class="carousel-item">
												<img class="rounded-1 img-fluid playFellowImg-size"
													th:src="'data:image/jpeg;base64,' + ${association.imageLib.base64Image}"
													alt="Image" />
											</div>
										</div>
									</div>
									<!-- End of Carousel -->
									<div class="card-body p-0">
										<a href="#">
											<span class="card-title pt-2 m-0"
												th:text="${pfgame.playFellowMember.pfnickname}">
											</span>
											<span class="card-title pt-2 m-0"> <span
													th:if="${pfgame.playFellowMember.member.gender == 1}"
													style="color: blue;">♂️</span>
												<span th:if="${pfgame.playFellowMember.member.gender == 2}"
													style="color: pink;">♀️</span>
											</span>
										</a>
										<div class="card-text">
											<div class="card-body pt-0">
												<div class="marquee-container">
													<p class="card-text marquee"
														th:text="${pfgame.playFellowMember.pfdescription}"></p>
												</div>
											</div>
											<h6 class="secondary-font text-primary pt-0"
												th:text="'$'+${pfgame.amount}+'元' +'/'+${pfgame.pricingCategory}"></h6>
											<div class="d-flex flex-wrap mt-3">
												<form action="/PlayCentric/playFellow/playFellowCart" method="GET">
													<input type="hidden" name="pfGameId"
														th:value="${pfgame.pfGameId}" />
													<button type="submit"
														class="btn btn-outline-shop me-1 px-1 pt-1 pb-1">
														<h6 class="text-uppercase m-0">購買</h6>
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 遊戲王 Section -->
					<div class="section-header d-md-flex justify-content-between align-items-center mb-3">
						<h3 class="fw-normal">遊戲王</h3>
					</div>
					<!-- 放置遊戲王 -->
					<div class="products-carousel swiper">
						<div class="isotope-container row">
							<div th:each="pfgame : ${PfGame2}" class="item col-md-3 col-lg-2 my-4">
								<div class="card position-relative" style="background-color: #FFFFFF;">
									<!-- Carousel -->
									<div id="carousel-[[${pfgame.pfGameId}]]" class="carousel slide"
										data-bs-ride="carousel">
										<div class="carousel-inner">
											<div th:each="association, stat : ${pfgame.playFellowMember.imageLibAssociations}"
												th:classappend="${stat.index == 0} ? ' active' : ''"
												class="carousel-item">
												<img class="rounded-1 img-fluid playFellowImg-size"
													th:src="'data:image/jpeg;base64,' + ${association.imageLib.base64Image}"
													alt="Image" />
											</div>
										</div>
									</div>
									<!-- End of Carousel -->
									<div class="card-body p-0">
										<a href="#"> <span class="card-title pt-2 m-0"
												th:text="${pfgame.playFellowMember.pfnickname}"></span>
											<span class="card-title pt-2 m-0"> <span
													th:if="${pfgame.playFellowMember.member.gender == 1}"
													style="color: blue;">♂️</span> <span
													th:if="${pfgame.playFellowMember.member.gender == 2}"
													style="color: pink;">♀️</span></span>
										</a>
										<div class="card-text">
											<div class="marquee-container">
												<p class="card-text marquee"
													th:text="${pfgame.playFellowMember.pfdescription}"></p>
											</div>
											<h6 class="secondary-font text-primary pt-0"
												th:text="'$'+${pfgame.amount}+'元' +'/'+${pfgame.pricingCategory}"></h6>
											<div class="d-flex flex-wrap mt-3">
												<form action="/PlayCentric/playFellow/playFellowCart" method="GET">
													<input type="hidden" name="pfGameId"
														th:value="${pfgame.pfGameId}" />
													<button type="submit"
														class="btn btn-outline-shop me-1 px-1 pt-1 pb-1">
														<h6 class="text-uppercase m-0">購買</h6>
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="foodies" style="margin-top: 10px;">
		<div class="container my-1 py-0">
			<div class="section-header d-md-flex justify-content-between align-items-center">
				<h2 class="display-6 fw-normal">伴遊列表</h2>
				<div class="mb-4 mb-md-0">
					<p class="m-0">
						<button class="filter-button me-4" data-filter=".cat">CS2</button>
						<button class="filter-button me-4" data-filter=".dog">遊戲王</button>
						<button class="filter-button me-4" data-filter=".bird">傳說對決</button>
					</p>
				</div>
			</div>

			<div id="playfellow-container" class="isotope-container row">
				<!-- 				CS2        	-->
				<div th:each="pfgame : ${PfGame}" class="item cat col-md-3 col-lg-2 my-4">
					<div class="card position-relative" style="background-color: #FFFFFF;">
						<!-- Carousel -->
						<div id="carousel-[[${pfgame.pfGameId}]]" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div th:each="association, stat : ${pfgame.playFellowMember.imageLibAssociations}"
									th:classappend="${stat.index == 0} ? ' active' : ''" class="carousel-item">
									<img class=" rounded-1 img-fluid playFellowImg-size"
										th:src="'data:image/jpeg;base64,' + ${association.imageLib.base64Image}"
										alt="Image" />
								</div>
							</div>
						</div>
						<!-- End of Carousel -->

						<div class="card-body p-0">
							<a href="#"> <span class="card-title pt-2 m-0"
									th:text="${pfgame.playFellowMember.pfnickname}"></span>
								<span class="card-title pt-2 m-0"> <span
										th:if="${pfgame.playFellowMember.member.gender == 1}"
										style="color: blue;">♂️</span> <span
										th:if="${pfgame.playFellowMember.member.gender == 2}"
										style="color: pink;">♀️</span></span>
							</a>
							<div class="card-text">
								<div class="card-body pt-0">
									<div class="marquee-container">
										<p class="card-text marquee" th:text="${pfgame.playFellowMember.pfdescription}">
										</p>
									</div>
								</div>

								<h6 class="secondary-font text-primary pt-0"
									th:text="'$'+${pfgame.amount}+'元' +'/'+${pfgame.pricingCategory}"></h6>
								<div class="d-flex flex-wrap mt-3">
									<form action="/PlayCentric/playFellow/playFellowCart" method="GET">
										<input type="hidden" name="pfGameId" th:value="${pfgame.pfGameId}" />
										<button type="submit" class="btn btn-outline-shop me-1 px-1 pt-1 pb-1">
											<h6 class="text-uppercase m-0">購買</h6>
										</button>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div th:each="pfgame : ${PfGame2}" class="item dog col-md-3 col-lg-2 my-4">
					<div class="card position-relative" style="background-color: #FFFFFF;">
						<!-- Carousel -->
						<div id="carousel-[[${pfgame.pfGameId}]]" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div th:each="association, stat : ${pfgame.playFellowMember.imageLibAssociations}"
									th:classappend="${stat.index == 0} ? ' active' : ''" class="carousel-item">
									<img class=" rounded-1 img-fluid playFellowImg-size"
										th:src="'data:image/jpeg;base64,' + ${association.imageLib.base64Image}"
										alt="Image" />
								</div>
							</div>
						</div>
						<!-- End of Carousel -->

						<div class="card-body p-0">
							<a href="#">
								<span class="card-title pt-2 m-0"
									th:text="${pfgame.playFellowMember.pfnickname}"></span>
								<span class="card-title pt-2 m-0">
									<span th:if="${pfgame.playFellowMember.member.gender == 1}"
										style="color: rgb(0, 106, 255);">♂️</span>
									<span th:if="${pfgame.playFellowMember.member.gender == 2}"
										style="color: pink;">♀️</span>
								</span>
							</a>
							<div class="card-text">
								<div class="card-body pt-0">
									<div class="marquee-container">
										<p class="card-text marquee" th:text="${pfgame.playFellowMember.pfdescription}">
										</p>
									</div>
								</div>

								<h6 class="secondary-font text-primary pt-0"
									th:text="'$'+${pfgame.amount}+'元' +'/'+${pfgame.pricingCategory}"></h6>
								<div class="d-flex flex-wrap mt-3">
									<form action="/PlayCentric/playFellow/playFellowCart" method="GET">
										<input type="hidden" name="pfGameId" th:value="${pfgame.pfGameId}" />
										<button type="submit" class="btn btn-outline-shop me-1 px-1 pt-1 pb-1">
											<h6 class="text-uppercase m-0">購買</h6>
										</button>
									</form>
								</div>

							</div>
						</div>

					</div>
				</div>
				<!-- Repeat other items here -->
			</div>
		</div>
	</section>

	<section id="banner-2" class="my-3" style="background: #F9F3EC;">
		<div class="container">
			<div class="row flex-row-reverse banner-content align-items-center">
				<div class="img-wrapper col-12 col-md-6">
					<!-- <img src="images/playFellow/pftop2.png" class="img-fluid" width="200" height="150"> -->
				</div>
				<div class="content-wrapper col-12 offset-md-1 col-md-5 p-5">
					<div class="secondary-font text-primary text-uppercase mb-3 fs-4">遊戲伴遊招募</div>
					<h2 class="banner-title display-1 fw-normal">PlayCentric
						快來加入我們!</h2>


					<a id="addPfMember" th:if="${session.loginMember != null}"
						th:href="@{/playFellow/memId/{memId}(memId=${session.loginMember.memId})}"
						class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
						點此申請</a> <a id="addPfMember" th:if="${session.loginMember == null}" href="javascript:void(0);"
						onclick="alertAndRedirect();" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">

						點此申請</a>

				</div>

			</div>
		</div>
	</section>

	<div id="footer-bottom">
		<div class="container">
			<hr class="m-0">
			<div class="row mt-3">
				<div class="col-md-6 copyright">
					<p class="secondary-font">© Waggy. .</p>
				</div>
				<div class="col-md-6 text-md-end"></div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
	<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
	<script th:src="@{/js/playfellow/plugins.js}"></script>
	<script th:src="@{/js/playfellow/script.js}"></script>
	<script th:src="@{/js/playfellow/playfellow.js}"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 2,
			spaceBetween: 120,
			loop: true,
			autoplay: {
				delay: 3000,
				disableOnInteraction: false,
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
		
		
		
		
		
		
		
		document.addEventListener('DOMContentLoaded', function () {
		    const memberModal = new bootstrap.Modal(document.getElementById('memberModal'));
		    document.querySelectorAll('#playFellowCard').forEach(card => {
		        card.addEventListener('click', function () {
		            const pfGameId = this.getAttribute('data-bs-memberId');
		            // Load member details via AJAX
		            axios.get(`/PlayCentric/api/playFellow/playFellowCart?pfGameId=${pfGameId}`)
		                .then(response => {
		                    const data = response.data;
		                    let modalContent = `
		                        <h5>${data.pfnickname}</h5>
		                        <p>遊戲名稱: ${data.gameName}</p>
		                        <p>價格: $${data.amount} ${data.pricingCategory}</p>
		                        <div class="carousel slide" id="modalCarousel" data-bs-ride="carousel">
		                            <div class="carousel-inner">
		                    `;
		                    data.imageBase64List.forEach((image, index) => {
		                        modalContent += `
		                            <div class="carousel-item ${index === 0 ? 'active' : ''}">
		                                <img src="data:image/jpeg;base64,${image}" class="d-block w-100">
		                            </div>
		                        `;
		                    });
		                    modalContent += `
		                            </div>
		                            <a class="carousel-control-prev" href="#modalCarousel" role="button" data-bs-slide="prev">
		                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		                                <span class="visually-hidden">Previous</span>
		                            </a>
		                            <a class="carousel-control-next" href="#modalCarousel" role="button" data-bs-slide="next">
		                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
		                                <span class="visually-hidden">Next</span>
		                            </a>
		                        </div>
		                    `;

		                    document.getElementById('modal-content-container').innerHTML = modalContent;
		                    memberModal.show();
		                })
		                .catch(error => {
		                    console.error(error);
		                });
		        });
		    });
		});


	</script>


</body>

</html>