@font-face {
    font-family: 'MyCustomFont';
    src: url('../../fonts/cjkFonts_allseto_v1.11.ttf');
}
html,body {
    font-family: 'MyCustomFont', sans-serif !important;
    font-size: large !important;
}