<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlms:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/layout/web-font.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>PlayCentric-後台管理-新增公告</title>
</head>

<body>
    <!-- <div th:replace="~{/layout/backen_nav}"></div> -->

    <div class="flex justify-center">
        <div class="flex justify-center my-5 border-2 p-20 rounded-md">
            <form th:action="@{/anno/insertAnno}" method="post">
                <div class="space-y-4">

                    <div class="flex overflow-hidden items-center">
                        <label for="title" class="text-lg me-2">標題：</label> <input required type="text" name="title"
                            id="title" class="text-input w-96" placeholder="請輸入標題">
                    </div>

                    <div class="flex overflow-hidden items-center">
                        <label for="content" class="text-lg me-2">內容：</label>
                        <textarea required name="content" id="content"
                            class="size-96 px-4 py-2 border border-gray-300 focus:outline-2 focus:outline-cyan-200 resize-none rounded-lg"
                            placeholder="請輸入內容"></textarea>
                    </div>

                    <div class="flex overflow-hidden items-center">
                        <label for="typeId" class="text-lg me-2">分類：</label>
                        <select class="w-96 border-2 focus:outline-2 focus:outline-cyan-200" name="typeId" id="typeId">
                            <th:block th:each="annoType:${allAnnoType}">
                                <option th:value="${annoType.annoTypeId}">[[${annoType.annoTypeName}]]</option>
                            </th:block>
                        </select>
                    </div>

                    <div class="flex overflow-hidden items-center justify-center">
                        <button class="ms-8 mybtn mybtn-sky rounded-md" type="submit">新增</button>
                        <span class="ms-8 mybtn mybtn-green datago">填入資料</span>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script>
        const datago = document.querySelector('.datago');
        datago.addEventListener('click', e => {
            const title = document.querySelector('#title');
            const content = document.querySelector('#content');
            const typeId = document.querySelector('#typeId');
            typeId.value = 4;
            title.value = '猜數字小遊戲上市囉！';
            content.value = `猜數字小遊戲於今日正式上市！
         這是一款簡單但充滿樂趣的猜數字小遊戲，這款遊戲不僅適合所有年齡層的玩家，也是一個很好的訓練思維和邏輯能力的工具。這款遊戲的核心功能包括設定數字範圍、猜對數字後顯示成功信息，以及猜錯數字後顯示目前已猜出的數字範圍。
         `;
        })
    </script>

</body>

</html>