<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }

        body,
        html {
            height: 100vh;
            min-height: 100vh;
        }

        .rounded-buttom-150px {
            border-radius: 0 0 150px 150px;
        }
    </style>
</head>

<body>
    <header class="h-50 w-100 position-relative top-0 bg-dark rounded-buttom-150px pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h3 class="display-4 text-light">Enjoy Your Play !</h3>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img class="h-75" th:src="@{/images/controller3.png}" alt="">
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <a href="#" class="btn btn-outline-info w-50  rounded-pill">Play Now !</a>
                </div>
            </div>
        </div>
    </header>

    <!-- <script src="../static/js/bootstrap.bundle.js"></script> -->
</body>

</html>