@tailwind base;
@tailwind components;
@tailwind utilities;

.top-nav a {
    @apply text-white
}

.left-nav a {
    @apply text-black
}

.mylink {
    @apply text-blue-500
}

.mylink:hover {
    @apply text-red-400
}

.leftmenuitem {
    @apply border-2 rounded-md border-slate-300
}

.leftmenuitem:hover {
    @apply border-gray-900 bg-slate-200
}

.left-selected {
    @apply border-gray-900 bg-slate-200
}

.mybtn-sky {
    @apply text-white py-2 px-3 cursor-pointer bg-sky-500 rounded-md
}

.mybtn-green {
    @apply text-white py-2 px-3 cursor-pointer bg-lime-600 rounded-md
}

.mybtn-danger {
    @apply text-white py-2 px-3 cursor-pointer bg-red-700 rounded-md
}

.mybtn-tag {
    @apply text-black py-2 px-3 cursor-pointer m-1 bg-orange-200 rounded-full select-none
}

.mybtn-tag:hover {
    @apply bg-orange-950 text-white py-2 px-3 cursor-pointer m-1 rounded-full
}

.tag-selected {
    @apply bg-orange-950 text-white py-2 px-3 cursor-pointer m-1 rounded-full select-none
}

.tag-selected:hover {
    @apply text-white py-2 px-3 cursor-pointer m-1 bg-orange-700 rounded-full
}

.price-tag {
    @apply p-2 border-red-300 border bg-slate-300 rounded-md text-lime-800 select-none
}

.mybtn:hover {
    @apply bg-opacity-60
}

.noscrollbar {
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.dropmenu {
    @apply absolute w-max right-0 px-1 py-1 rounded-md bg-gray-800
}

.dropmenu-m {
    @apply transition-all duration-200 bg-gray-800
}

.menu-item {
    @apply transition-all duration-200 p-2 rounded-lg border-2 border-gray-800 bg-gray-800;
}

.menu-item:hover {
    @apply bg-gray-500 border-sky-600;
}

.plus-btn {
    @apply fixed w-16 h-16 p-2 bg-sky-200 bottom-20 right-10 rounded-full flex justify-center items-center cursor-pointer
}

.text-input {
    @apply px-4 py-2 border border-gray-300 rounded-lg
}

.text-input:focus {
    @apply outline-cyan-200 outline-2
}

.one-img {
    @apply col-span-1 w-full h-48 bg-slate-400 rounded-md relative
}

.img-choose {
    @apply col-span-1 w-full h-48 bg-slate-400 rounded-md
}

.remove-img {
    @apply absolute -top-2 -right-2 bg-black text-white rounded-full px-3 py-1 select-none cursor-pointer
}

.remove-img:hover {
    @apply bg-opacity-50
}

.prev {
    @apply absolute bg-slate-700 bg-opacity-70 top-0 text-white left-0 text-2xl select-none cursor-pointer
}

.next {
    @apply absolute bg-slate-700 bg-opacity-70 top-0 text-white right-0 text-2xl select-none cursor-pointer
}