<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- <script th:src="@{/js/bootstrap.bundle.js}"></script> -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/utils/doAlertJQ.js}"></script>
    <title>PlayCentric-更改密碼</title>
    <style>
        html,
        body {
            height: 100vh;
            width: 100%;
            overflow: hidden;
        }

        body {
            background-image: url("[[@{/images/loginBG.jpg}]]");
            background-size: cover;
            /* 確保圖片覆蓋整個容器 */
            background-position: center;
            /* 確保圖片居中 */
            background-repeat: no-repeat;
            /* 防止圖片重複 */
        }

        .h-0 {
            height: 0;
        }

        .h-35px {
            height: 35px;
        }

        .mt150px {
            margin-top: 150px !important;
        }
    </style>
</head>

<body>
    <div th:replace="~{layout/nav}"></div>
    <div class="container-fluid h-100 position-absolute ms-auto top-0">
        <div class="row justify-content-center mt150px">
            <div class="col-3 bg-white rounded-2 py-2">
                <div class="h1 text-center my-3">更改密碼</div>
                <form id="changePwd-form" class="m-2" action="#">
                    <input type="hidden" name="token" th:value="${token}">
                    <div class="input-group mb-1 password">
                        <label for="password" class="input-group-text">輸入新密碼*</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="input-group mb-1 password">
                        <label for="password-confirm" class="input-group-text">確認新密碼*</label>
                        <input type="password" class="form-control" id="password-confirm">
                    </div>
                    <div id="passwordCheckBlock" class="form-text text-danger" style="display: none;">
                        與密碼輸入不一致，請重新檢查
                    </div>
                    <div class="form-btn d-flex mt-3">
                        <input type="submit" class="btn btn-primary ms-auto me-2" value="確定">
                        <input type="reset" class="btn btn-secondary me-2" value="清空">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const pageUrl = window.location.origin;
        const changePwdUrl = pageUrl + "/PlayCentric/member/changePassword";

        $(document).on('keydown', function (event) {
            if (event.key === 'F2') {
                $('#password').val('o1234')
                $('#password-confirm').val('o1234').focus()
                doAlert('已填入資料');
            }
        });

        //自動確認密碼是否相同
        $('#changePwd-form #password-confirm').blur(function () {
            checkPwdAndBlock();
            $('#changePwd-form input[type=password]').keyup(checkPwdAndBlock)
            $('#changePwd-form input[type=password]').keypress(checkPwdAndBlock)
        })

        function checkPwdAndBlock() {
            if (isPwdEqu()) {
                $('#passwordCheckBlock').hide();
                $('#changePwd-form [type=submit]').removeClass('disabled');
            } else {
                $('#passwordCheckBlock').show();
                $('#changePwd-form [type=submit]').addClass('disabled');
            }
        }

        $('#changePwd-form').submit(function (e) {

            e.preventDefault()

            if (!isPwdEqu()) {
                $('#passwordCheckBlock').show();
                doAlert('請確認密碼!');
                return;
            }

            const formdataObject = new FormData(this);

            axios.post(changePwdUrl, formdataObject)
                .then(res => {
                    console.log(res);
                    doAlert(res.data);
                    if (res.data == '修改完成!') {
                        setTimeout(() => {
                            window.location.href = "/PlayCentric/member/changePwdOK";
                        }, 1000);
                    }
                })
                .catch(err => {
                    console.log(err);
                })
        })

        function isPwdEqu() {
            let psw = $('#changePwd-form #password').val();
            let pswCon = $('#changePwd-form #password-confirm').val();
            return psw === pswCon;
        }
    </script>
</body>

</html>