<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <!-- <script th:src="@{/js/bootstrap.bundle.js}"></script> -->
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/axios.min.js}"></script>
  <script th:src="@{/js/utils/doAlertJQ.js}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>PlayCentric-登入頁面</title>
  <style>
    html,
    body {
      height: 100vh;
      width: 100%;
      overflow: hidden;
    }

    body {
      background-image: url("[[@{/images/loginBG.jpg}]]");
      background-size: cover;
      /* 確保圖片覆蓋整個容器 */
      background-position: center;
      /* 確保圖片居中 */
      background-repeat: no-repeat;
      /* 防止圖片重複 */
    }

    .h-0 {
      height: 0;
    }

    .h-35px {
      height: 35px;
    }

    .mt150px {
      margin-top: 150px !important;
    }

    .cursor-pointer {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div th:replace="~{layout/nav}"></div>

  <div class="container-fluid h-100 position-absolute ms-auto top-0">
    <div class="row justify-content-center mt150px">
      <div class="col-3">

        <div class=" bg-secondary-subtle p-0 rounded-3 rounded-bottom-0">

          <div class="nav nav-tabs" role="tablist">
            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
              role="tab" aria-controls="nav-home" aria-selected="true">登入</button>
            <button class="nav-link" id="regist-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
              role="tab" aria-controls="nav-profile" aria-selected="false">註冊</button>
          </div>
        </div>

        <div class="tab-content bg-white rounded-bottom-2" id="nav-tabContent">
          <!-- 登入框內容 -->
          <div class="tab-pane fade show active border border-top-0 rounded-bottom-2 border-bottom-0 p-2 bg-white"
            id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <form method="POST" id="login-form" th:action="@{/member/login}">
              <div class="mb-3">
                <label for="account" class="form-label">帳號</label>
                <input type="text" class="form-control" id="loginId" name="account" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">密碼</label>
                <input type="password" class="form-control" id="loginPwd" name="password" required>
              </div>
              <div>
                <input type="checkbox" class="form-check-input" name="addCookie" id="addCookie">
                <label for="addCookie" class="form-label">保持登入</label>
              </div>
              <div class="form-btn d-flex">
                <a href="#" id="forget-password" class="align-self-center">忘記密碼</a>
                <button type="submit" class="btn btn-primary ms-auto me-2">登入</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">取消</button>
              </div>
            </form>
            <div class="d-flex my-4 justify-content-center align-items-center border border-secondary-subtle h-0">
              <span class="px-3 text-secondary bg-white user-select-none">或者</span>
            </div>
            <div class="d-flex mb-3 justify-content-center align-items-center">
              <a id="googleLogin" class="btn p-3 border rounded-0" th:href="@{/member/google-login}">
                <img class="h-35px img-fluid" th:src="@{/images/googleLogo.png}" alt="">
                使用Google登入</a>
              <div class="form-check form-switch ms-2">
                <input class="form-check-input" type="checkbox" role="switch" id="googleAddCookie">
                <label class="form-check-label" for="googleAddCookie">保持登入</label>
              </div>
            </div>
            <div class="d-flex my-4 justify-content-center align-items-center border border-secondary-subtle h-0">
              <span class="px-3 text-secondary bg-white user-select-none">快速登入</span>
            </div>
            <div class="d-flex mb-3 justify-content-center align-items-center">
              <div class="btn btn-primary p-2 mx-2 fast-login">
                Lily88</div>
              <div class="btn btn-primary p-2 mx-2 fast-login">
                Alice99</div>
            </div>
            <div class="d-flex mb-3 justify-content-center align-items-center">
              <div class="btn btn-primary p-2 mx-2 fast-login-mng">
                ts16(管理員)</div>
              <div class="btn btn-primary p-2 mx-2 fast-login-mng">
                Owen Chen(管理員)</div>
            </div>
          </div>
          <!-- 註冊框內容 -->
          <div class="tab-pane fade border border-top-0 border-bottom-0 p-2 rounded-bottom-2" id="nav-profile"
            role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <form id="registForm">
              <div class="input-group mb-1">
                <label for="nickname" class="input-group-text">暱稱*</label>
                <input type="text" class="form-control" id="nickname" name="nickname" maxlength="20" required>
              </div>
              <div class="input-group mb-1">
                <label for="account" class="input-group-text">帳號*</label>
                <input type="text" class="form-control" id="account" name="account" maxlength="20" required>
              </div>
              <div class="input-group mb-1 password">
                <label for="password" class="input-group-text">輸入密碼*</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="input-group mb-1 password">
                <label for="password-confirm" class="input-group-text">確認密碼*</label>
                <input type="password" class="form-control" id="password-confirm">
              </div>
              <div id="passwordCheckBlock" class="form-text text-danger" style="display: none;">
                與密碼輸入不一致，請重新檢查
              </div>
              <div class="input-group mb-1">
                <label for="email" class="input-group-text">Email*</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <hr class="my-2">
              <div class="input-group mb-1">
                <label for="memName" class="input-group-text">姓名</label>
                <input type="text" class="form-control" id="memName" name="memName" maxlength="20">
              </div>
              <div class="input-group mb-1">
                <label for="gender" class="input-group-text">姓別</label>
                <select id="gender" name="gender" class="form-select form-control" aria-label="Default select example">
                  <option value="0" selected>選擇性別</option>
                  <option value="1">男</option>
                  <option value="2">女</option>
                </select>
              </div>
              <div class="input-group mb-1">
                <label for="birthday" class="input-group-text">生日</label>
                <input type="date" class="form-control" id="birthday" name="birthday">
              </div>
              <div class="input-group mb-1">
                <label for="phone" class="input-group-text">手機號碼</label>
                <input type="tel" maxlength="10" class="form-control" id="phone" name="phone">
              </div>
              <div class="input-group mb-1">
                <label for="address" class="input-group-text">住址</label>
                <textarea class="form-control" id="address" name="address" maxlength="30"></textarea>
              </div>
              <div class="input-group mb-1">
                <label for="photoFile" class="input-group-text">照片</label>
                <input type="file" class="form-control" id="photoFile" name="photoFile" accept="image/*">
              </div>
              <div class="form-btn d-flex mt-4">
                <button type="submit" class="btn btn-primary ms-auto me-2">註冊</button>
                <button type="reset" class="btn btn-secondary" id="cancelRegist">取消</button>
              </div>
            </form>
          </div>
        </div>

        <!-- 忘記密碼用Modal -->
        <div id="forgetPwdModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <!-- 發送信件表單 -->
                <form id="modalForm">
                  <h1 class="my-3 text-center">忘記密碼</h1>
                  <div class="d-flex my-4">
                    <input type="text" class="form-control" id="accOrEmail" name="accOrEmail"
                      placeholder="請輸入會員 帳號 或 Email" required>
                  </div>
                  <div class="d-flex">
                    <button type="submit" class="btn btn-primary ms-auto">送出</button>
                    <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">取消</button>
                  </div>
                </form>
                <!-- loading -->
                <div id="emailSending" style="display: none;">
                  <div class="d-flex justify-content-center align-items-center">
                    <span class="spinner-grow text-success" role="status">
                      <span class="visually-hidden"></span>
                    </span>
                    <span class="ms-2">信件發送中。。。</span>
                  </div>
                </div>
                <!-- 信件已發送 -->
                <div id="emailSent" style="display: none;">
                  <i class="fa-solid fa-arrow-left cursor-pointer fs-3"></i>
                  <p class="text-center fs-3 mb-3">信件發送完成!</p>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary" data-bs-dismiss="modal">確定</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div>
    </div>
  </div>

  <script>
    $(function () {
      const loginUrl = "/PlayCentric/member/login"
      const registUrl = "/PlayCentric/member/regist";
      const forgetPwdUrl = "/PlayCentric/member/api/sendPtUrl";
      const googleUrl = $('#googleLogin').attr('href');
      const loginTab = new bootstrap.Tab(document.querySelector('#login-tab'));
      const forgetPwdModal = new bootstrap.Modal('#forgetPwdModal');
      const redirectMsg = '[[${redirectMsg}]]'
      const input = document.querySelector('#photoFile');

      if (redirectMsg && redirectMsg.trim() != "") {
        doAlert(redirectMsg);
      }

      $('#googleLogin').attr('href', googleUrl + '?addCookie=' + $(this).is(':checked'))


      $('#forget-password').click(function (e) {

        e.preventDefault()

        forgetPwdModal.show();
      })

      $('#emailSent i').click(function () {
        $('#emailSent').hide();
        $('#modalForm').show();
      })

      //快捷鍵填入資料
      $(document).on('keydown', function (event) {
        if (event.key === 'F2') {
          $('#registForm #nickname').val('新註冊帳號');
          $('#registForm #account').val('jane_smith');
          $('#login-form #loginId').val('jane_smith');
          $('#registForm #password').val('Js#2024!');
          $('#registForm #password-confirm').val('Js#2024!');
          $('#login-form #loginPwd').val('Js#2024!');
          $('#registForm #email').val('jane.smith@example.com');
          $('#registForm #memName').val('林美芳');
          $('#registForm #gender').val(2);
          $('#registForm #birthday').val('1992-06-15');
          $('#registForm #phone').val('0928123456');
          $('#registForm #address').val('台中市西屯區台灣大道三段99號7樓');
          insertImg();
          doAlert('已填入資料');
        }
      });

      function insertImg() {
        fetch('/PlayCentric/images/logo3.png')
          .then(res => res.blob())
          .then(blob => {
            const file = new File([blob], 'fastImg.png', { type: blob.type })
            console.log(file);
            let trans = new DataTransfer();
            trans.items.add(file)
            input.files = trans.files;
            console.log(input.files);
          })
      }

      //自動確認密碼是否相同
      $('#registForm #password-confirm').blur(function () {
        checkPwdAndBlock();
        $('#registForm input[type=password]').keyup(checkPwdAndBlock)
        $('#registForm input[type=password]').keypress(checkPwdAndBlock)
      })

      function checkPwdAndBlock() {
        if (isPwdEqu()) {
          $('#passwordCheckBlock').hide();
          $('#registForm [type=submit]').removeClass('disabled');
        } else {
          $('#passwordCheckBlock').show();
          $('#registForm [type=submit]').addClass('disabled');
        }
      }

      $('#googleAddCookie').change(function () {
        $('#googleLogin').attr('href', googleUrl + '?addCookie=' + $(this).is(':checked'))
        if ($(this).is(':checked')) {
          console.log('Checkbox is checked');
        } else {
          console.log('Checkbox is not checked');
        }
      });

      $('#modalForm').submit(function (e) {

        e.preventDefault()

        const formdataObject = new FormData(this);
        const addCookie = $('#addCookie').prop('checked');
        formdataObject.set('addCookie', addCookie);

        axios.post(forgetPwdUrl, formdataObject)
          .then(res => {
            console.log(res);
            $('#emailSending').hide();
            $('#emailSent p').text(res.data)
            $('#emailSent').show();
          })
          .catch(err => {
            console.log(err);
          })

        $('#modalForm').hide();
        $('#emailSending').show();
      })

      //快速登入
      $('.fast-login').click(function () {
        const memPwd = {
          'Lily88': 'Lily88',
          'Alice99': 'Alice99'
        }
        const account = $(this).text().trim()
        axios({
          method: 'post',
          url: loginUrl,
          params: {
            account: account,
            password: memPwd[account]
          }
        })
          .then(res => {
            console.log(res);
            doAlert(res.data);
            if (res.data == '登入成功!') {
              setTimeout(() => {
                window.location.href = "/PlayCentric/member/loginSuccess";
              }, 1000);
            }
          })
          .catch(err => {
            console.log(err);
          })
      })

      //快速登入(管理員)
      $('.fast-login-mng').click(function () {
        const mngPwd = {
          'ts16': 'ts8582',
          'Owen Chen':'o1234'
        }
        const account = $(this).text().trim().replace('(管理員)', '')
        axios({
          method: 'post',
          url: loginUrl,
          params: {
            account: account,
            password: mngPwd[account]
          }
        })
          .then(res => {
            console.log(res);
            doAlert(res.data);
            if (res.data == '登入成功!') {
              setTimeout(() => {
                window.location.href = "/PlayCentric/member/loginSuccess";
              }, 1000);
            }
          })
          .catch(err => {
            console.log(err);
          })
      })

      $('#login-form').submit(function (e) {

        e.preventDefault()

        const formdataObject = new FormData(this);
        const addCookie = $('#addCookie').prop('checked');
        formdataObject.set('addCookie', addCookie);

        axios.post(loginUrl, formdataObject)
          .then(res => {
            console.log(res);
            doAlert(res.data);
            if (res.data == '登入成功!') {
              setTimeout(() => {
                window.location.href = "/PlayCentric/member/loginSuccess";
              }, 1000);
            }
          })
          .catch(err => {
            console.log(err);
          })
      })

      $('#registForm').submit(function (e) {

        e.preventDefault()

        if (!isPwdEqu()) {
          $('#passwordCheckBlock').show();
          doAlert('請確認密碼!');
          return;
        }

        const formdataObject = new FormData(this);
        formdataObject.set('role', 0)


        axios.post(registUrl, formdataObject)
          .then(res => {
            console.log(res);
            doAlert(res.data);
            if (res.data == '註冊成功!') {
              loginTab.show();
              this.reset();
            }
          })
          .catch(err => {
            console.log(err);
          })
      })

      $('#cancelRegist').click(function () {
        loginTab.show();
      })


      function isPwdEqu() {
        let psw = $('#registForm #password').val();
        let pswCon = $('#registForm #password-confirm').val();
        return psw === pswCon;
      }
    })
  </script>
</body>

</html>