<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/member/managePage.js}"></script>
    <style>
        .collapse {
            visibility: visible !important;
        }

        .page-item {
            cursor: pointer;

            &.active {
                cursor: default;
            }
        }
    </style>
    <title>會員管理</title>
</head>

<body>

    <div th:replace="~{layout/nav}"></div>

    <div class="container my-4">
        <div class="d-flex">
            <div class="h1">會員管理</div>
            <div class="btn btn-primary ms-auto m-3">＋</div>
        </div>
        <div class="accordion" id="output">
        </div>
        <div id="pageBtn">
            <div class="d-flex justify-content-center align-items-end mt-4">
                <ul class="pagination">
                </ul>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            const insertUrl = "http://localhost:8080/PlayCentric/member/getMemPage"
            let params = { page: 1 }

            runAxios();

            $('#pageBtn').on('click', '.page-item', function () {
                if (params.page != $(this).text()) {
                    params.page = $(this).text();
                    runAxios();
                }
            })

            function runAxios() {
                axios({
                    method: 'post',
                    url: insertUrl,
                    params
                })
                    .then(res => {
                        console.log(res);
                        htmlMaker(res.data);
                    })
                    .catch(err => console.log(err))
            }

            function htmlMaker(data) {
                $('#output').text('')

                data.content.forEach((element) => {
                    const dataHtml = `<div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" role="${element.role}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse${element.memId}" aria-controls="flush-collapse${element.memId}">
                        <img width="35px" class="me-2 rounded rounded-5" src="${element.photoUrl}">
                        ${element.account}
                        </button>
                        </h2>
                        <div id="flush-collapse${element.memId}" class="accordion-collapse collapse" data-bs-parent="#output">
                        <div class="accordion-body">
                        <div class="row">
                            <div class="mb-3 col-2">暱稱: ${element.nickname}</div>
                            <div class="mb-3 col-2">姓名: ${element.memName}</div>
                            <div class="mb-3 col-2">性別: ${element.gender===2?'女':element.gender===1?'男':'未選擇'}</div>
                            <div class="mb-3 col-5">email: ${element.email}</div>
                            <div class="mb-3 col-3">生日: ${element.birthday? element.birthday : '未輸入'}</div>
                            <div class="mb-3 col-3">電話: ${element.phone? element.phone : '未輸入'}</div>
                            <div class="mb-3 col-6">地址: ${element.address? element.address : '未輸入'}</div>
                            <div class="mb-3 col-3">google: ${element.googeId? '已綁定' : '未綁定'}</div>
                            <div class="mb-3 col-3">facebook: ${element.facebookId? '已綁定' : '未綁定'}</div>
                            <div class="mb-3 col-3">twitter: ${element.twitterId? '已綁定' : '未綁定'}</div>
                            <div class="mb-3 col-4">註冊日期: ${element.registDate}</div>
                            <div class="mb-3 col-5">最後登入時間: ${element.lastLogin}</div>
                            <br>
                        </div>
                        </div>
                        </div>
                        </div>`
                    $('#output').append(dataHtml);
                    $('[role=1]').addClass('bg-warning-subtle');
                });

                $('#pageBtn').hide();
                if (data.totalPages > 1) {
                    $('#pageBtn').show();
                    // $('#pageBtn').append(`<div class="d-flex justify-content-center align-items-end mt-4">
                    //     <ul class="pagination">
                    //     </ul>
                    //     </div>`)
                    $('.pagination').text('')
                    for (let index = 1; index <= data.totalPages; index++) {
                        if (index != params.page) {
                            $('.pagination').append(`<li class="page-item"><a class="page-link">${index}</a></li>`)
                            continue;
                        }
                        $('.pagination').append(`<li class="page-item active"><a class="page-link">${index}</a></li>`)
                    }
                }
            }
        })
    </script>
</body>

</html>