<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- <script th:src="@{/js/bootstrap.bundle.js}"></script> -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/utils/doAlertJQ.js}"></script>
    <script th:src="@{/js/member/managePage.js}"></script>
    <style>
        .fixed{
            position: fixed;
        }

        .relative{
            position: relative;
        }

        #list-example.list-group>.list-group-item.active{
            background-color: #243e75;
        }
    </style>
</head>

<body class="bg-light">
    <div th:replace="~{layout/nav}"></div>

    <div id="memInfo-aside" class="container relative start-0 end-0 bottom-0">
        <div class="row mt-3">
            <div class="col-2 fixed">
                <div id="list-example" class="list-group">
                  <a class="list-group-item list-group-item-action" th:href="@{/member/personal/Info}">個人資訊</a>
				  <a class="list-group-item list-group-item-action" th:href="@{/playFellow/pfOrderMsg/{memId}(memId=${session.loginMember.memId})}">伴遊資訊</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-3">收藏文章</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-4">遊戲道具庫</a>
                  <a class="list-group-item list-group-item-action" th:href="@{/member/personal/recharge}">儲值紀錄</a>
                </div>
            </div>
            <div id="main" class="col-9 ms-auto rounded-4 shadow"></div>
        </div>
    </div>

    <script>
        $(function(){
            $('#memInfo-aside').next().next().appendTo($('#main'))
            $(`a[href="${window.location.pathname}"]`).addClass('disabled').addClass('active');
        })
		
    </script>
</body>

</html>