<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>道具交易前台 - 市場</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="keywords" content="ecommerce, pet, shop" />
  <meta name="description" content="Free eCommerce Pet Shop HTML Website Template" />

  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css" />
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/prop/template/vendor.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/prop/template/style.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
    rel="stylesheet" />
  <style>
    header,
    .container {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .selected {
      border: 3px solid gold;
    }

    .quantity {
      background-color: grey;
      color: white;
      text-align: center;
      margin-top: 5px;
    }
  </style>
</head>

<body>

  <div th:replace="~{prop/propNavbar}"></div>
  <div id="memberId" class="d-none" th:if="${session.loginMember}" th:text="${session.loginMember.memId}"></div>

  <header class="mt-5 d-flex justify-content-center">
    <div id="gameList" class="bg-light text-dark p-4 rounded shadow-sm">
      <form id="myForm" class="d-flex mb-3 align-items-center">
        <select class="form-select me-2" id="SelectGame" name="gameId"
          style="font-size: 2rem; border: 2px solid #343a40"></select>
        <button id="submitBtn" class="btn btn-dark" style="font-size: 1.5rem">
          🕹️
        </button>
      </form>
      <input type="text" id="searchInput" class="form-control" placeholder="在拍賣場中搜尋"
        style="font-size: 1.5rem; border: 2px solid #343a40" />
    </div>
  </header>
  <div class="container mt-5" style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      ">
    <div class="section-header d-md-flex justify-content-between align-items-center">
      <div class="mb-4 mb-md-0 d-flex justify-content-center w-100">
        <p class="m-0">
          <!-- 自動新增按鈕 -->
        </p>
        <div class="m-3">
          <a href="#" id="inventoryBtn" class="btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#inventory"
            style="font-weight: 700; padding: 0rem 2rem">
            販售
          </a>
        </div>
      </div>

      <!-- 倉庫Modal -->
      <div class="modal fade" id="inventory" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(0, 5, 70); color: white">
              <h5 class="modal-title" id="exampleModalLabel" style="
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                      sans-serif;
                    font-weight: bolder;
                  ">
                從您的物品清單選擇一項物品
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-8" id="inventoryPropsContainer">
                  <!-- 道具圖片會在這裡生成 -->
                </div>
                <div class="col-4">
                  完整商品資訊
                </div>
              </div>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-dark">💰</button>
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                ❌
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row isotope-container justify-content-center">
    <!-- 商品項目將在這裡動態生成 -->
  </div>

  <script th:src="@{/js/prop/template/jquery-1.11.0.min.js}"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script th:src="@{/js/prop/template/plugins.js}"></script>
  <script th:src="@{/js/prop/template/script.js}"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script th:src="@{/js/axios.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <!-- Isotope库 -->

  <script>
    // 加載所有遊戲
    const propTypesMap = {};
    const inventoryBtn = document.getElementById('inventoryBtn');
    let memId = document.getElementById('memberId')?.textContent.trim() || null;
    let selectedGameId;
    let inventoryProps; //倉庫裡的所有道具

    $(document).ready(function () {
      loadGames();

      // 提交按鈕點擊事件
      $("#submitBtn").click(function (event) {
        event.preventDefault(); // 取消表單的默認提交行為
        selectedGameId = $("#SelectGame").val(); // 獲取選中的遊戲ID
        fetchPropTypesByGameId(selectedGameId, function (propTypes) {
          propTypes.forEach(function (propType) {
            propTypesMap[propType.propTypeId] = propType.propType; // 填充 propTypesMap
          });
          generateFilterButtons(propTypes); // 生成篩選按鈕
          findAllPropsByGameId(selectedGameId); // 查找所有道具
        });
      });

      // 初始化 Isotope
      const $container = $(".isotope-container").isotope({
        itemSelector: ".item",
        layoutMode: "fitRows",
      });

      // 篩選按鈕點擊事件
      $(document).on("click", ".filter-button", function () {
        const filterValue = $(this).attr("data-filter");
        $container.isotope({ filter: filterValue });
        $(".filter-button").removeClass("active");
        $(this).addClass("active");

        // 重新觸發搜索條件
        $("#searchInput").trigger("input");
      });

      // 搜尋輸入框事件
      $("#searchInput").on("input", function () {
        const searchValue = $(this).val().toLowerCase();
        const activeTypeFilter = $(".filter-button.active").attr(
          "data-filter"
        );

        $container.isotope({
          filter: function () {
            const name = $(this).find(".card-title").text().toLowerCase();
            const typeClass = $(this)
              .attr("class")
              .split(" ")
              .filter((cls) =>
                cls.startsWith(activeTypeFilter.replace(".", ""))
              );

            return (
              name.includes(searchValue) &&
              (activeTypeFilter === "*" || typeClass.length > 0)
            );
          },
        });
      });
    });

    function loadGames() {
      axios
        .get("http://localhost:8080/PlayCentric/prop/findAllGame")
        .then(function (res) {
          const games = res.data;
          const selectGame = $("#SelectGame");
          console.log("Games data:", games); // 打印數據內容

          selectGame.empty();
          games.forEach(function (game) {
            const option = $("<option></option>")
              .val(game.gameId)
              .text(game.gameName);
            selectGame.append(option);
          });

          if (games.length > 0) {
            selectGame.val(games[0].gameId);
            $("#submitBtn").click();
          }
        })
        .catch(function (error) {
          console.error("獲取遊戲數據時出錯:", error);
        });
    }

    // 根據 gameId 獲取所有道具種類
    function fetchPropTypesByGameId(gameId, callback) {
      axios
        .get(
          "http://localhost:8080/PlayCentric/prop/findAllPropTypesByGameId",
          {
            params: { gameId: gameId },
          }
        )
        .then((res) => {
          callback(res.data);
          const propTypes = res.data;
          propTypes.forEach(function (propType) {
            propTypesMap[propType.propTypeId] = propType.propType;
            console.log(
              `propTypeId: ${propType.propTypeId}, propType: ${propType.propType}`
            );
          });
        })
        .catch((error) => {
          console.error("獲取道具種類數據時出錯:", error);
        });
    }

    // 根據 gameId 查找所有道具
    function findAllPropsByGameId(gameId) {
      axios
        .get("http://localhost:8080/PlayCentric/prop/findAllPropsByGameId", {
          params: { gameId: gameId },
        })
        .then((res) => {
          const props = res.data;
          generatePropItems(props); // 動態生成道具項目
          console.log(props);
        })
        .catch((error) => {
          console.error("獲取道具數據時出錯:", error);
        });
    }

    // 生成篩選按鈕
    function generateFilterButtons(propTypes) {
      const filterButtonsContainer = $(".m-0");
      filterButtonsContainer.empty();
      const allButton = $(
        '<button class="filter-button me-4 active" data-filter="*" style="font-size: 2rem;">ALL</button>'
      );
      filterButtonsContainer.append(allButton);
      propTypes.forEach(function (propType) {
        const button = $(
          '<button class="filter-button me-4" style="font-size: 2rem;"></button>'
        )
          .attr("data-filter", `.${propType.propTypeId}`)
          .text(propType.propType);
        console.log(propType.propType);
        filterButtonsContainer.append(button);
      });
    }

    // 根據memId(JAVA)跟 gameId(JS) 找尋倉庫道具
    inventoryBtn.addEventListener('click', function () {
      generateInventoryItems(memId, selectedGameId);
    })

    function generateInventoryItems(memId, selectedGameId) {
      axios({
        method: 'get',
        url: 'http://localhost:8080/PlayCentric/prop/memberPropsbyMemId',
        params: { memId: memId }
      })
        .then((res) => {
          const inventory = res.data.filter(item => item.prop.gameId == selectedGameId);
          generateInventoryPropImages(inventory); // 調用生成倉庫道具圖片的函數

        })
        .catch((error) => {
          console.error('獲取倉庫資訊時出錯:', error);
        });
    }

    // 生成倉庫道具圖片
    function generateInventoryPropImages(inventoryProps) {
      const container = document.getElementById('inventoryPropsContainer');
      container.innerHTML = ''; // 清空容器

      let rowDiv = null;

      inventoryProps.forEach((item, index) => { // 這裡需要改為item來包含prop和propQuantity
        if (index % 6 === 0) { // 每6個道具生成一個新的row
          rowDiv = document.createElement('div');
          rowDiv.className = 'row mb-3';
          container.appendChild(rowDiv);
        }

        const colDiv = document.createElement('div');
        colDiv.className = 'col-3 mb-3'; // 每個圖片占3列，並且有底部外邊距

        const img = document.createElement('img');
        img.src = `http://localhost:8080/PlayCentric/prop/image?id=${item.prop.propImageId}`;
        img.alt = item.prop.propName;
        img.className = 'img-fluid';
        img.style.width = '6vw';

        // 添加點擊事件監聽器
        img.addEventListener('click', function () {
          // 先移除其他圖片的選中樣式
          const allImages = container.getElementsByTagName('img');
          for (let i = 0; i < allImages.length; i++) {
            allImages[i].classList.remove('selected');
          }
          // 為當前點擊的圖片添加選中樣式
          img.classList.add('selected');
        });

        const quantityDiv = document.createElement('div');
        quantityDiv.textContent = `數量: ${item.propQuantity}`; // 使用正確的變量名
        quantityDiv.className = 'quantity';

        colDiv.appendChild(img);
        colDiv.appendChild(quantityDiv); // 將數量 div 添加到 colDiv 中
        rowDiv.appendChild(colDiv);
      });
    }

    // 生成道具項目
    function generatePropItems(props) {
      const propsContainer = $(".isotope-container");
      propsContainer.empty();
      props.forEach(function (prop) {
        const itemClassId = prop.propTypeId ? prop.propTypeId : "unknown";
        console.log(`Item classId is: ${itemClassId}`);
        const item = $(`
  <div class="item ${itemClassId}" style="margin-bottom:28rem; width:12vw; position: relative;">
    <a href="#" class="card" style="text-decoration: none; color: inherit;">
      <div style="position: relative;">
        <img src="http://localhost:8080/PlayCentric/prop/image?id=${prop.propImageId}" class="img-fluid rounded-4" alt="${prop.propName}" style="width: 11vw;">
      </div>
      <div class="card-body p-0">
        <div class="card-text">
          <h3 class="card-title pt-0 m-0">${prop.propName}</h3>
          <h3 class="secondary-font text-primary">平均NT$:${prop.propPrice}</h3>
          <div class="d-flex flex-wrap mt-3">
            <!-- Additional content here -->
          </div>
        </div>
      </div>
    </a>
  </div>
`);

        propsContainer.append(item);
      });

      // 更新 Isotope 布局
      $(".isotope-container")
        .isotope("reloadItems")
        .isotope({ sortBy: "original-order" });
    }

  </script>
</body>

</html>