<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../static/images/MyLogo.png" alt="品牌名稱" width="80" height="80"
                    class="d-inline-block align-top">
                <span class="fs-1 ms-1">PlayCentric</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            管理介面
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="#">管理選項 1</a></li>
                            <li><a class="dropdown-item" href="#">管理選項 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="memberDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            會員
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="memberDropdown">
                            <li><a class="dropdown-item" href="#">會員選項 1</a></li>
                            <li><a class="dropdown-item" href="#">會員選項 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="storeDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            遊戲商店
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="storeDropdown">
                            <li><a class="dropdown-item" href="#">商店選項 1</a></li>
                            <li><a class="dropdown-item" href="#">商店選項 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="itemsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            遊戲道具
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
                            <li><a class="dropdown-item" href="#">道具選項 1</a></li>
                            <li><a class="dropdown-item" href="#">道具選項 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="escortDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            伴遊
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="escortDropdown">
                            <li><a class="dropdown-item" href="#">伴遊選項 1</a></li>
                            <li><a class="dropdown-item" href="#">伴遊選項 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            活動
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                            <li><a class="dropdown-item" href="#">活動選項 1</a></li>
                            <li><a class="dropdown-item" href="#">活動選項 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="forumDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            討論區
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="forumDropdown">
                            <li><a class="dropdown-item" href="#">討論區選項 1</a></li>
                            <li><a class="dropdown-item" href="#">討論區選項 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="../static/js/bootstrap.bundle.js"></script>
</body>

</html>