<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <title>新增訊息</title>
</head>

<body>
  <div th:replace="~{/layout/backen_nav}"></div>

  <div th:replace="~{forum/layout/backnavbar}"> </div>
  <div class="container" style="width: 75%; margin: 0 auto;">
    <div class="wrap">
      <form method="post" th:action="@{/insertforumData2}" enctype="multipart/form-data">
        <h2>新增討論串</h2>
        <div class="form-group">
          <label>主題照片:</label> <input class="textsPhoto" type="file" name="textsPhoto">
        </div>
        <div class="form-group">
          <label>主題:</label> <input type="text" name="forumName" required>
        </div>
        <div class="form-group st1">
          <label for="comment1" class="t1">主題內容:</label>
          <textarea name="textsIntro" id="comment1" cols="40" rows="5"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="確定">
        </div>
      </form>
    </div>

  </div>




</body>

</html>