<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <title>PlayCentric論壇</title>
  <script src="https://kit.fontawesome.com/a498fa36dc.js" crossorigin="anonymous"></script>
  <style>
    .spaced-column {
      padding-right: 20px;
    }

    th.card-title {
      padding-right: 20px;
    }

    th.spaced-column {
      padding-left: 20px;
    }

    #title1 {
      padding-right: 50px;
    }

    #d1 {
      width: 500px;
    }

    #th1 {
      width: 45%;
    }
  </style>
</head>

<body class="h-screen flex flex-col w-screen">
  <div th:replace="~{/layout/nav}"></div>


  <div th:replace="~{forum/layout/navbar}"></div>

  <div>
    <section id="Wishlist" class="py-5 my-5">
      <div class="container">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" id="th1" class="card-title text-uppercase">標題</th>
                <th scope="col" id="title1" class="card-title text-uppercase spaced-column">簡介</th>
                <th scope="col" class="card-title text-uppercase spaced-column"></th>
              </tr>
            </thead>
            <tbody class="table table-striped table-hover">
              <tr th:each="forumBean : ${arrayList}">
                <td class="py-4">
                  <div class="cart-info d-flex flex-wrap align-items-center">
                    <div class="col-lg-3">
                      <div class="card-image">
                        <a th:href="@{/texts/findTextsByForumId(forumId=${forumBean.forumId})}"
                          class="text-decoration-none">
                          <img style="max-width: 100%;" th:src="@{/forumPhoto(forumId=${forumBean.forumId})}"
                            alt="cloth" class="img-fluid">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card-detail ps-3">
                        <h5 class="card-title">
                          <a th:href="@{/texts/findTextsByForumId(forumId=${forumBean.forumId})}"
                            class="text-decoration-none">
                            <p th:text="${forumBean.forumName}"></p>
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="py-4 align-middle spaced-column">
                  <div class="total-price">
                    <a th:href="@{/texts/findTextsByForumId(forumId=${forumBean.forumId})}"
                      class="text-decoration-none">
                      <span class="secondary-font fw-medium  text-area">
                        <p th:utext="${forumBean.textsIntro}"></p>

                      </span>
                    </a>
                  </div>
                </td>
                <td class="py-4 align-middle spaced-column">
                  <div class="total-price">
                    <span class="secondary-font fw-medium"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>
  </div>
  <!-- <div class="footer">
    <div th:replace="~{layout/footer}"></div>
  </div> -->


</body>

</html>